<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>上海清算所</title>
    <link rel="stylesheet" href="../../../images/xwxq_all.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link href="../../../images/public.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../../images/all_common.css" />
<link rel="stylesheet" type="text/css" href="/images/element-ui/lib/theme-chalk/index.css" />
<link rel="stylesheet" type="text/css" href="../../../images/elementui.css" />
<script type="text/javascript" src="../../../images/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="../../../images/ydui_flexible.js"></script>
<script type="text/javascript" src="../../../images/global.js"></script>
<script type="text/javascript" src="../../../images/md5.js"></script>
<script type="text/javascript" src="../../../images/sm3.js"></script>
<script type="text/javascript" src="../../../images/base64.js"></script>
<script type="text/javascript" src="../../../images/home.js"></script>
<script type="text/javascript" src="../../../images/vue.min.js"></script>
<script type="text/javascript" src="/images/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../../../images/crypto-js.js"></script>
<script type="text/javascript" src="../../../images/ase.js"></script>
<link type="text/css" rel="stylesheet" href="../../../images/verify.css" />
<script type="text/javascript" src="../../../images/verify.js"></script>
<script type="text/javascript">
    var domain = 'https://www.shclearing.com.cn';
    var currentImgPath = "https://www.shclearing.com.cn/xwgg/tzgg/";
    var parentImgPath = "https://www.shclearing.com.cn/xwgg/";
    currentImgPath = currentImgPath.replace(domain, '/images');
    parentImgPath = parentImgPath.replace(domain, '/images');
</script>


    <script>
      var pubdate = '2026-06-18';
      var crtime= '2026-06-18';
      var date = '';
      var yearDate = ''
      if(pubdate!=''){
        yearDate = pubdate.substring(0,pubdate.lastIndexOf('-'))
        date = pubdate.substring(pubdate.lastIndexOf('-')+1)
      }else{
        yearDate = crtime.substring(0,pubdate.lastIndexOf('-'))
        date = crtime.substring(pubdate.lastIndexOf('-')+1)
      }
    </script> 
  </head>

  <body>
    <div class="page">
      <!-- 公用JS -->
<div id="public_header" v-clock>
	<div class="m_fixed">
		<div class="top_header">
			<div class="top_Left">
				<div class="logo">
					<a href="../../../">
						<img class="home_logo_img" src="../../../images/logo.png" onerror="this.src='/images/logo.png';this.onerror=null" />
						<img class="logo_img" src="/images/logo01.png" onerror="this.src='/images/logo_01.png';this.onerror=null" />
					</a>
				</div>
				<div class="menu menu_show">
					<ul>
						
							<li>
								<a href="../../" class="m_li pc">
									新闻公告
								</a>
								<a href="#" class="m_li mobile">
									新闻公告
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../xwdt/">公司新闻</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../">通知公告</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../mtbd/">媒体报道</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../zcxx/">招采信息</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
							<li>
								<a href="../../../cpyyw/" class="m_li pc">
									产品与业务
								</a>
								<a href="#" class="m_li mobile">
									产品与业务
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpyyw/cpyw/">产品业务</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpyyw/gzzn/">规则指南</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpyyw/sfbf/">收费办法</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpyyw/czxzjzn/">操作须知及指南</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpyyw/fxgl/">风险管理</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpyyw/ywsj/">业务数据</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
							<li>
								<a href="../../../xxpl/" class="m_li pc">
									债券信息披露
								</a>
								<a href="#" class="m_li mobile">
									债券信息披露
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/zxpz/">专项品种</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/fxpl/">发行披露</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/fxqkbg/">发行情况报告</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/jyltysgg/">交易流通要素公告</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/xypj/">信用评级</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/cwbg/">财务报告</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/zdsxjqt/">重大事项及其他</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/dfzx/">兑付注销</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../xxpl/zsxxpl/">指数信息披露</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
							<li>
								<a href="../../../cpgz/" class="m_li pc">
									估值与指数
								</a>
								<a href="#" class="m_li mobile">
									估值与指数
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/zqjqysp/">债券</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/llysp/">利率衍生品</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/whjqysp/">外汇衍生品</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/xyysp/">信用衍生品</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/qtysp/">大宗商品衍生品</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/ssfw/">试算服务</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/ywgg/">业务公告</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../cpgz/ztyj/">专题研究</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
							<li>
								<a href="../../../scfw/" class="m_li pc">
									市场服务
								</a>
								<a href="#" class="m_li mobile">
									市场服务
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../../scfw/qshy/">清算会员</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../scfw/qshypm/">年度评价</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../scfw/pxsl/">培训沙龙</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../scfw/jszc_1/">技术支持</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../scfw/khgg/">机构公告</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
							<li>
								<a href="../../../gywm/" class="m_li pc">
									关于我们
								</a>
								<a href="#" class="m_li mobile">
									关于我们
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../../gywm/gsjs/">公司介绍</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../gywm/xczl/">宣传资料</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../gywm/yjkw/">研究刊物</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../gywm/jgyzl/">法律法规</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../gywm/lxwm1/">联系我们</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
							<li>
								<a href="../../../pfmi/" class="m_li pc">
									PFMI
								</a>
								<a href="#" class="m_li mobile">
									PFMI
								</a>
								<div class="menu_c menu_c1">
									<div class="menuc_close"><a href="javascript:void(0);"
											class="menu_mobile_font">返回</a>
									</div>
									<dl>
										
											<dd class="menu_mobile_font">
												<a href="../../../pfmi/ndxxpl/">年度信息披露</a>
											</dd>
										
											<dd class="menu_mobile_font">
												<a href="../../../pfmi/lhxxpl/">量化信息披露</a>
											</dd>
										
									</dl>
								</div>
							</li>
						
					</ul>
				</div>
			</div>
			<div class="top_login_btn">
				<a href="../../../sy/qwjs/" class="search_icon" target="_blank">
					<img class="home_search" src="/images/search.png" onerror="this.src='/images/c_01.png';this.onerror=null" />
					<img class="other_search" src="/images/search1.png" onerror="this.src='/images/c_02.png';this.onerror=null" />
				</a>
				<a v-if="!userName" href="javascript:void(0);" class="login_tt"
					@click="onShowDialogClick('login')">登录</a>
				<a href="https://www.shclearing.com.cn/en/" class="login_en">EN</a>
				<div v-if="userName" class="user_info">
					<span>{{userName}}</span>
					<label @click="onLogoutClick" class="logout">[退出]</label>
				</div>
				<div class="mtmenu_click">
					<img src="/images/menu01.png" onerror="this.src='/images/menu_01.png';this.onerror=null" class="mt_01 mt_01_home icon" />
					<img src="/images/menu02.png" onerror="this.src='/images/menu_02.png';this.onerror=null" class="mt_02 mt_02_home icon" />
					<img src="/images/menu01on.png" onerror="this.src='/images/menu_01_on.png';this.onerror=null" class="mt_01 mt_01_other icon" />
					<img src="/images/menu02on.png" onerror="this.src='/images/menu_02_on.png';this.onerror=null" class="mt_02 mt_02_other icon" />
				</div>
			</div>
		</div>
	</div>

	<!-- 登录 -->
	<div id="login_dialog" :class="['login_box login_dialog',{on: isShowLogin}]">
		<div class="login_bg"></div>
		<div class="content">
			<a href="javascript:;" class="close" @click="onCloseClick('login')">
				<img src="/images/close.png" onerror="this.src='/images/close_02.png';this.onerror=null" />
			</a>
			<div class="item p1">
				<img src="/images/logo01.png" onerror="this.src='/images/logo_01.png';this.onerror=null" />
			</div>
			<div class="item p2">
				<input ref="loginAccount" v-model="loginForm.account" @focus="onFocusClick('loginAccount')" @blur="onBlurClick('loginAccount')" type="text" id="name" class="lgn_txt" placeholder="用户名" />
				<span v-if="loginForm.tipsAccount">{{loginForm.tipsAccount}}</span>
			</div>
			<div class="item p2">
				<input ref="loginPassword" v-model="loginForm.password" @focus="onFocusClick('loginPassword')" @blur="onBlurClick('loginPassword')" type="password" id="pwd" class="lgn_txt" placeholder="密码" />
				<span v-if="loginForm.tipsPwd">{{loginForm.tipsPwd}}</span>
			</div>
			<!-- <div class="item p2">
				<p>
					<input ref="loginCode" v-model="loginForm.code" @focus="onFocusClick('loginCode')" @blur="onBlurClick('loginCode')" type="text" id="code" class="lgn_txt1" placeholder="验证码" />
					<a href="javascript:;" class="yzm login_code_change" @click="onChangeCode('login')">
						<img class="login_code" :src="loginForm.codeImg" />
						<img class="refresh" src="../../../images/refresh.jpg" onerror="this.src='/images/refresh.jpg';this.onerror=null" />
					</a>
				</p>
				<span v-if="loginForm.tipsCode">{{loginForm.tipsCode}}</span>
			</div> -->
			<div class="item p3" @click="onLoginClick">
				<input type="button" value="登录" class="lgn_btn" id="lgn_btn" />
			</div>
			<div class="p4">
				<a href="javascript:;" class="a1 psd_btn" @click="onShowDialogClick('pwd')">忘记密码？</a>
				<a href="javascript:;" class="a2 register_btn" @click="onShowDialogClick('register')">立即注册<img src="/images/arrowr.png" onerror="this.src='/images/t_10.png';this.onerror=null" /></a>
			</div>
			<div class="privacy-agreement-class-box">
				<span style="color: red;" v-show="loginForm.showRequired">*</span>
				<input v-model="loginForm.isPrivacyAgreement" name="" privacyAgreementCheckbox type="checkbox" id="privacyAgreementCheckbox" />
				<label for="privacyAgreementCheckbox">我已阅读并同意<a href="javascript:;"
						@click="previewInfo('1')">《{{loginForm.personalInfName}}》</a>及<a href="javascript:;"
						@click="previewInfo('2')">《{{loginForm.userAgreement}}》</a>
				</label>
			</div>
		</div>
	</div>

	<!-- 客户清算信息查询系统 用户注册-->
	<div :class="['login_box register_dialog',{on: isShowRegister}]">
		<div class=" login_bg"></div>
		<form id="form_regist" name="form_regist" target="_self" method="post" class="lgnfr">
			<div class="content">
				<a href="javascript:;" class="close" @click="onCloseClick('register')">
					<img src="/images/close.png" onerror="this.src='/images/close_02.png';this.onerror=null" />
				</a>
				<h3>注册</h3>
				<div class="item p2">
					<input ref="account" @focus="onFocusClick('account')" @blur="onBlurClick('account')" id="txt_account" name="account" v-model="registerForm.account" type="text" maxlength="14" placeholder="用户名" class="lgn_txt" />
					<span v-if="registerForm.tipsAccount" id="tips_account">{{registerForm.tipsAccount}}</span>
				</div>
				<div class="item p2">
					<input ref="password" v-model="registerForm.password" @focus="onFocusClick('password')" @blur="onBlurClick('password')" id="txt_password" name="password" type="password" placeholder="密码" class="lgn_txt" />
					<span v-if="registerForm.tipsPwd" id="tips_password">{{registerForm.tipsPwd}}</span>
				</div>
				<div class="item p2">
					<input ref="conform" @focus="onFocusClick('conform')" @blur="onBlurClick('conform')" id="txt_conform" name="conform" v-model="registerForm.conform" type="password" maxlength="20" placeholder="确认密码" class="lgn_txt" />
					<span v-if="registerForm.tipsConform" id="tips_conform">{{registerForm.tipsConform}}</span>
				</div>
				<div class="item p2">
					<input ref="name" @focus="onFocusClick('name')" @blur="onBlurClick('name')" id="txt_name" name="name" v-model="registerForm.name" type="text" maxlength="30" placeholder="姓名" class="lgn_txt" />
					<span v-if="registerForm.tipsName" id="tips_name">{{registerForm.tipsName}}</span>
				</div>
				<div class="item p5">
					<p>
						<input type="text" value="电话" readonly class="lgn_txt" />
						<input id="txt_phoneCountryCode" ref="phoneCountryCode" @focus="onFocusClick('phoneCountryCode')" @blur="onBlurClick('phoneCountryCode')" v-model="registerForm.phoneCountryCode" name="phoneCountryCode" type="text" class="lgn_txt" value="+86" title="国家区号" />
						<input ref="provinceCode" @focus="onFocusClick('provinceCode')" @blur="onBlurClick('provinceCode')" id="txt_provinceCode" name="provinceCode" v-model="registerForm.provinceCode" type="text" maxlength="4" class="lgn_txt" title="区号" />
						<input ref="phone" @focus="onFocusClick('phone')" @blur="onBlurClick('phone')" id="txt_phone" name="phone" v-model="registerForm.phone" type="text" maxlength="8" class="lgn_txt" title="电话号码" />
						<input ref="extension" @focus="onFocusClick('extension')" @blur="onBlurClick('extension')" id="txt_extension" name="extension" v-model="registerForm.extension" type="text" maxlength="6" class="lgn_txt" title="分机号码" />
					</p>
					<span v-if="registerForm.tipsExtension" id="tips_phone">{{registerForm.tipsExtension}}</span>
				</div>
				<div class="item p5">
					<p>
						<input type="text" value="手机" class="lgn_txt" readonly />
						<input id="txt_mobileCountryCode" ref="mobileCountryCode" @focus="onFocusClick('mobileCountryCode')" @blur="onBlurClick('mobileCountryCode')" v-model="registerForm.mobileCountryCode" name="mobileCountryCode" type="text" maxlength="4" class="w30" value="+86" title="国家区号" />
						<input ref="mobile" @focus="onFocusClick('mobile')" @blur="onBlurClick('mobile')" id="txt_mobile" name="mobile" v-model="registerForm.mobile" type="text" maxlength="11" class="tel" title="手机号码" />
						<span class="send-verify-btn" @click="sendPhoneOrEmailCodeClick('phone')" id="phoneCodeBtn">发送验证码</span>
					</p>
					<span v-if="registerForm.tipsPhone" id="tips_mobile">{{registerForm.tipsPhone}}</span>
				</div>
				<div class="item p5">
					<input class="tel" title="手机验证码" @blur="onBlurClick('phone_code')" v-model="registerForm.phoneCode" maxlength="6" minlength="6" placeholder="请输入手机验证码" />
					<span id="tips_phone_code" v-show="showPhoneCodeTips">{{showPhoneCodeTipsText}}</span>
				</div>
				<div class="item p2">
					<div class="p2_sub">
						<input ref="email" @focus="onFocusClick('email')" @blur="onBlurClick('email')" name="email" v-model="registerForm.email" type="text" maxlength="40" placeholder="邮箱" class="lgn_txt" />
						<div class="send-verify-btn" @click="sendPhoneOrEmailCodeClick('email')" id="emailCodeBtn">发送验证码</div>
					</div>
					<span v-if="registerForm.tipsEmail">{{registerForm.tipsEmail}}</span>
				</div>
				<div class="item p5">
					<input class="tel" title="邮箱验证码" @blur="onBlurClick('email_code')" v-model="registerForm.emailCode" maxlength="6" minlength="6" placeholder="请输入邮箱验证码" />
					<span id="tips_email_code" v-show="showEmailCodeTips">{{showEmailCodeTipsText}}</span>
				</div>
				<!-- <div class="item p2">
					<p>
						<input ref="code" @focus="onFocusClick('code')" @blur="onBlurClick('code')" name="code" v-model="registerForm.code" type="text" placeholder="验证码" class="lgn_txt1" />
						<a href="javascript:;" class="yzm register_code_change" @click="onChangeCode('register')">
							<img class="register_code" :src="registerForm.codeImg" />
							<img class="refresh" src="../../../images/refresh.jpg" onerror="this.src='/images/refresh.jpg';this.onerror=null" />
						</a>
					</p>
					<span v-if="registerForm.tipsCode">{{registerForm.tipsCode}}</span>
				</div> -->
				<div class="privacy-agreement-class-box">
					<span style="color: red;" v-show="registerForm.showRequired">*</span>
					<input v-model="registerForm.isPrivacyAgreement" style="width: 0.2rem !important;" name="" privacyAgreementCheckbox type="checkbox" id="privacyAgreementCheckbox" />

					<label for="privacyAgreementCheckbox">我已阅读并同意<a href="javascript:;"
							@click="previewInfo('1')">《{{registerForm.personalInfName}}》</a>及<a href="javascript:;"
							@click="previewInfo('2')">《{{registerForm.userAgreement}}》</a>
					</label>
				</div>
				<div class="item p3 flex">
					<a href="javascript:;" class="lgn_btn" id="btn_regist" @click="onRegisterClick('registerSubmit')">提交</a>
					<a href="javascript:;" class="lgn_btn" id="btn_reset" @click="onResetClick">重置</a>
				</div>
			</div>
		</form>
	</div>

	<!-- 忘记密码 -->
	<div :class="['login_box psd_dialog',{on: isShowPwd}]">
		<div class="login_bg"></div>
		<div class="content">
			<a href="javascript:;" class="close" @click="onCloseClick('pwd')">
				<img src="/images/close.png" onerror="this.src='/images/close_02.png';this.onerror=null" />
			</a>
			<h3>忘记密码</h3>
			<div class="item p2">
				<input ref="pwdEmail" name="email" @focus="onFocusClick('pwdEmail')" @blur="onBlurClick('pwdEmail')" v-model="pwdForm.email" type="text" maxlength="50" class="lgn_txt" placeholder="邮箱" />
				<span v-if="pwdForm.tipsEmail" id="tips_email">{{pwdForm.tipsEmail}}</span>
			</div>
			<div class="item p2">
				<p style="display: flex;">
					<input style="width: 70px;" id="pwdFormMobileCountryCode" ref="pwdFormMobileCountryCode" @focus="onFocusClick('pwdFormMobileCountryCode')" @blur="onBlurClick('pwdFormMobileCountryCode')" v-model="pwdForm.mobileCountryCode" name="mobileCountryCode" type="text" maxlength="4" class="w30" value="+86" title="国家区号" />
					<input ref="pwdMobile" name="email" @focus="onFocusClick('pwdMobile')" @blur="onBlurClick('pwdMobile')" v-model="pwdForm.mobile" type="text" maxlength="25" class="lgn_txt" placeholder="手机号" />
				</p>
				<span v-if="pwdForm.tipsMobile">{{pwdForm.tipsMobile}}</span>
			</div>
			<!-- <div class="item p2">
				<p>
					<input ref="pwdCode" v-model="pwdForm.code" @focus="onFocusClick('pwdCode')" @blur="onBlurClick('pwdCode')" type="text" id="txt_code" class="lgn_txt1" placeholder="验证码" />
					<a href="javascript:;" class="yzm psd_code_change" @click="onChangeCode('pwd')">
						<img class="psd_code" :src="pwdForm.codeImg" />
						<img class="refresh" src="../../../images/refresh.jpg" onerror="this.src='/images/refresh.jpg';this.onerror=null" />
					</a>
				</p>
				<span v-if="pwdForm.tipsCode" id="tips_pwd_code">{{pwdForm.tipsCode}}</span>
			</div> -->
			<div class="item p3">
				<input type="button" id="btn_submit" value="下一步" class="lgn_btn" @click="onPwdNextClick" />
			</div>
		</div>
	</div>
	<!-- 202410验证码改造 Begin -->
    <div id="slide" style="z-index: 9999999;"></div>
    <div id="slideBtn"></div>
    <div id="points" style="z-index: 9999999;"></div>
    <div id="pointsBtn"></div>
    <!-- 202410验证码改造 End -->
</div>
<script src="../../../images/ggtb.js"></script>
      <div class="main_page" id="js_index" v-clock>
        <div class="main_contain">
          <!-- 这是页面的banner区域,在公共样式里面 -->
          <section class="banner_section">
            <div class="baner_bg">
              <img :src="parentImgPath+'banner.jpg'" onerror="this.src='/images/news_banner.jpg';this.onerror=null" />
              <p>新闻公告</p>
            </div>
          </section>
          <!-- 这是页面的主体部分，加了padding，所以.main_section这个类名不用加样式 -->
          <div class="main_section">
            <div class="top_title">
              <div class="left_time">
                <span>
                  <script>
                    document.write(date);
                  </script>
                </span>
                <span>
                  <script>
                    document.write(yearDate);
                  </script>
                </span>
              </div>
              <h2>
                关于推出外币回购优化服务的通知
              </h2>
            </div>
            <div class="content content_sub" v-pre>
              <div class=TRS_Editor><p class="MsoNormal" align="justify" style="margin: 0pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">各市场机构：</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;"><font face="仿宋">为进一步优化外币回购交易及清算服务，满足市场机构抵押品管理和多样化结算方式的需求，银行间市场清算所股份有限公司（以下简称上海清算所）和中国外汇交易中心（以下简称外汇交易中心）将于</font><font face="仿宋">2026年6月22日起推出外币回购优化服务。为便利市场机构做好相关准备工作，现将有关事项通知如下：</font></span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt -0.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 黑体; font-size: 16pt;">一、</span><span style="font-family: 黑体; font-size: 16pt;"><font face="黑体">服务简介</font> &nbsp;&nbsp;&nbsp;</span><span style="font-family: 黑体; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt -0.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 楷体; font-size: 16pt;">（一）</span><span style="font-family: 楷体; font-size: 16pt;">质押式回购质押券替换</span><span style="font-family: 楷体; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">外币质押式回购业务存续期间，交易双方可在上海清算所综合业务系统或外汇交易中心外汇交易系统中对尚未到期结算的交易发起质押券替换，经对手方确认后生效。</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt -0.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 楷体; font-size: 16pt;">（二）</span><span style="font-family: 楷体; font-size: 16pt;">买断式回购现金交割</span><span style="font-family: 楷体; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">交易到期结算日前，交易双方可在上海清算所综合业务系统中发起现金交割，上海清算所将根据现金交割指令完成买断式回购到期结算。外汇交易中心具体上线安排将另行通知。</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt -0.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 黑体; font-size: 16pt;">二、</span><span style="font-family: 黑体; font-size: 16pt;">参与准备</span><span style="font-family: 黑体; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">上海清算所和外汇交易中心将为本业务参与者管理员配置相关权限，管理员可视情况对本机构操作员完成客户端权限配置。</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt -0.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 黑体; font-size: 16pt;">三、</span><span style="font-family: 黑体; font-size: 16pt;">联系方式</span><span style="font-family: 黑体; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">业务咨询：</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">上海清算所：</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;"><font face="仿宋">侯</font> &nbsp;<font face="仿宋">哲</font> <font face="仿宋">021-23198840</font></span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; text-indent: 32pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;"><font face="仿宋">王纾静</font> <font face="仿宋">021-23198578</font></span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">外汇交易中心：</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;"><font face="仿宋">庞柯宇</font> <font face="仿宋">021-63298988-3529</font></span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;"><font face="仿宋">贾</font> &nbsp;<font face="仿宋">羽</font> <font face="仿宋">021-23165015</font></span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">特此通知。</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="margin: 0pt 0pt 0pt 31.5pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">&nbsp;</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="right" style="margin: 0pt; text-align: right; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">银行间市场清算所股份有限公司</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="center" style="text-align: right; margin: 0pt; font-family: Calibri; font-size: 10.5pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="仿宋">中国外汇交易中心</font></span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<p class="MsoNormal" align="justify" style="text-align: right; margin: 0pt; font-family: Calibri; font-size: 10.5pt; text-indent: 256pt; line-height: 29pt;"><span style="font-family: 仿宋; font-size: 16pt;">&nbsp;&nbsp;</span><span style="font-family: 仿宋; font-size: 16pt;">2026年6月18日</span><span style="font-family: 仿宋; font-size: 16pt;"><o:p></o:p></span></p>
<span style="font-family: 仿宋; font-size: 16pt; text-align: justify;">&nbsp;</span>&nbsp;</div>
            </div>
            <div class="info_download">
              <script type="text/javascript">
                var currentFile=""
                var currentLink=""
              </script>
              <div class="tab_change">
                <div
                  class="tab_btn"
                  :class="{current_tab_btn:currentBtn==index}"
                  v-for="(btn,index) in btnContent"
                  @click="handlecurrentBtn(index)"
                >
                  {{ btn }}
                </div>
              </div>
              <div class="doc_link" v-if="currentFile.length && currentBtn==0">
                
              </div>
              <div class="about_info" v-if="currentLink.length && ((btnContent.length>1 && currentBtn==1) || (btnContent.length==1 && currentBtn==0))">
                <ul>
                  
              </ul>
              </div>
            </div>
            <div class="next">
              
                <a href="../202111/t20211105_960198.html" class="a1">上一篇</a>
              
              <a href="javascript:void(0);" class="a2"></a>
              
                <a href="./t20260618_1809507.html" class="a3">下一篇</a>
              
            </div>
          </div>
        </div>
      </div>
      <footer id="public_footer" v-clock class="section_footer">
	<img class="footer_bg" src="/images/footerbg.jpg" onerror="this.src='/images/footer_bg.jpg';this.onerror=null" />
	<img class="footer_bg_red" src="/images/footerbgred.png" onerror="this.src='/images/footerRed.png';this.onerror=null" />
	<div class="main_footer">
		<div class="left_footer">
			<div class="top_footer">
				
					<a href="../../">新闻公告</a>
				
					<a href="../../../cpyyw/">产品与业务</a>
				
					<a href="../../../xxpl/">债券信息披露</a>
				
					<a href="../../../cpgz/">估值与指数</a>
				
					<a href="../../../scfw/">市场服务</a>
				
					<a href="../../../gywm/">关于我们</a>
				
					<a href="../../../pfmi/">PFMI</a>
				
			</div>
			<div class="about_select">
				<el-select :popper-append-to-body="false" v-model="currentSelect">
					<el-option v-for="(item,index) in selectList" :value="item.name" :key="index"
						class="fixed-dropdown">
						<a :href="item.link" target="_blank">{{item.name}}</a>
					</el-option>
				</el-select>
			</div>
			<div class="filing_footer">
				<a href="../../../sy/wzdt/"
					target="_blank">网站地图</a>
				<a href="https://beian.miit.gov.cn" target="_blank">沪ICP备11013176号-2</a>
				<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102007195"
					target="_blank">沪公网安备 31010102007195号</a>
				<div class="ip_logo"><img src="../../../images/IPV6.png" onerror="this.src='/images/IPV6.png';this.onerror=null" /></div>
			</div>
			<p class="copyright_footer">
				<span>版权所有：上海清算所</span>
				<a href="../../../sy/flsm/"
					target="_blank">法律声明</a>
			</p>
		</div>
		<div class="right_footer">
			<div class="logo_footer">
				<a href="../../../">
					<img src="/images/logo01.png" onerror="this.src='/images/logo_01.png';this.onerror=null" />
				</a>
			</div>
			<div class="info_footer">
				<p>电话：<span v-if="'地址' == '电话'">上海市黄浦区北京东路2号</span><span v-if="'电话' == '电话'">021-23198800</span><span v-if="'邮编' == '电话'">200002</span><span v-if="'传真' == '电话'">021-23198866</span></p>
				<p>传真：<span v-if="'地址' == '传真'">上海市黄浦区北京东路2号</span><span v-if="'电话' == '传真'">021-23198800</span><span v-if="'邮编' == '传真'">200002</span><span v-if="'传真' == '传真'">021-23198866</span></p>
				<p>地址：<span v-if="'地址' == '地址'">上海市黄浦区北京东路2号</span><span v-if="'电话' == '地址'">021-23198800</span><span v-if="'邮编' == '地址'">200002</span><span v-if="'传真' == '地址'">021-23198866</span></p>
			</div>
		</div>
	</div>
</footer>
<script src="../../../images/ggwb.js"></script>
    </div>
    <script>
        function changeNull(params) {
        var docm = document.getElementsByClassName('content_sub');
        var content = docm[0].children[0].innerHTML.trim();
        if (content == 'null' || content == '<div class="TRS_Editor">null</div>' || content == '<div class="TRS_Editor"> null </div>') {
          docm[0].innerHTML = '';
        }
      }
      changeNull();
    </script>
    <script type="text/javascript" src="../../../images/xwxq.js"></script>
  </body>
</html>